{% macro render_field_with_errors(field) %}
    {{ field.label(class='sr-only') }}
    {% if field.errors %}
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs)|safe }}
        <ul class="errors">
            {% for error in field.errors %}
                <li>{{ error|e }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ field(**kwargs)|safe }}
    {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  {{ field(class=css_class, **kwargs)|safe }}
{% endmacro %}
