{% extends 'layout.html' %}

{% block title %}Welcome to the CPNPP Database{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content_title %}Welcome{% endblock %}
{% block content_subtitle %}Colorado Plateau Native Plant Program Seed Database{% endblock %}

{% block content %}
    <div class="jumbotron">
        <p class="lead">
            The Colorado Plateau Native Plant Program (CPNPP) seed database is an important resource for both
            CPNPP staff and agency partners. The database aggregates collection information, including geographic
            locations of seed collections, made by all CPNPP partners. This data provides a basis for furthering
            multiple CPNPP goals by allowing for the quantification and visualization of both accomplishments and
            shortcomings of native plant material development.
        </p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h3 class="card-header text-center">
                    Needs
                </h3>
                <div class="card-block">
                    <p class="card-text">
                        The CPNPP database must provide seed collection tracking per species and per accession and present the data in a way
                        that allows for thorough analysis such that trends can easily be spotted and common queries can be quickly and
                        intuitively be answered. Information should include all Seeds of Success data collection fields, accession-level test
                        results, species and accession-level project use and release tracking. Geographic information should allow for the
                        incorporation of seed zone information and facilitate easy integration with existing GIS tools and procedures.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card" style="height: 100%">
                <h3 class="card-header text-center">
                    Development
                </h3>
                <div class="card-block">
                    <p class="card-text">
                        The development of this seed database is on-going. Because the database aggregates data from multiple sources that may
                        or may not have their own data storage standards, there is a great deal of trial and error involved in feeding data
                        into the new database.

                        To accommodate all involved partners, development will continue to take into account the needs of all users.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}